/* STYLING BOOTSTRAP */

.progress {
    width: 100%;
}

.progress-bar {
    background-color: var(--palette-color-4);
}

/* STYLING BUTTONS */

.button {
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: .15rem;
    text-align: center;
    
    background-color: var(--palette-color-5);
    color: var(--palette-color-2);
}

.button:hover {
    box-shadow: 0 0 12px var(--palette-color-5);
}

.button:disabled {
    filter: brightness(.7);
    cursor: auto;
}

.button:disabled:hover {
    box-shadow: none;
}

/* STYLING NAVBAR */

.navbar {
    display: flex;
    gap: 45px;
    margin: 20px;
}

.navbar-link {
    padding: 5px 0;
    cursor: pointer;
    border-bottom: 4px double transparent;
}

.navbar-link a:hover {
    color: var(--palette-color-5);
    border-bottom: 4px double var(--palette-color-5);
}

/* STYLING CONVERTER & VALUES */
.converter {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media (min-width: 1200px) {
    .converter {
        width: 50%;
    }
}

.converter-message {
    width: 90%;
    font-size: .8rem;
    margin-top: 15px;
    text-align: center;
}

.values-wrapper button {
    width: 100%;
}

.values-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.values-input {
    width: 60%;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 100%;
    padding: 8px 12px;
    background: var(--palette-color-2);
    color: var(--palette-color-4);
}

.values-input::placeholder {
    color: var(--palette-color-3);
}

.values-input::-webkit-outer-spin-button,
.values-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.values-currency-select {
    padding: 8px 12px;
    border-radius: 5px;
    background: var(--palette-color-2);
    color: var(--palette-color-4);
    cursor: pointer;
}

/* STYLING QUIZ */

.quiz {
    width: 100%;
    padding: 4%;
    border-radius: 5px;
    border: 8px double var(--palette-color-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.quiz-question {
    font-weight: 800;
    text-transform: uppercase;
    color: var(--palette-color-2);
    background: var(--palette-color-4);
}

.quiz-question-content {
    display: flex;
    flex-direction: column;
    width: 92%;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
}

.quiz-question-text {
    width: 100%;
    text-align: center;
}

.quiz-question-img {
    width: 50%;
    margin-top: 2.5%;
}

.quiz-question-img img {
    width: 100%;
}

.quiz-answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.quiz-answer {
    cursor: pointer;
    width: 35%;
    min-height: 50px;
    padding: 2%;
    border-radius: 5px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--palette-color-2);
    text-align: center;
}

.quiz-answer:hover {
    filter: brightness(1.2);
}

@media (max-width: 720px) {
    .quiz-answers {
        flex-direction: column;
    }

    .quiz-answer {
        width: 100%;
    }
}


.quiz-answer-chosen {
    background-color: var(--palette-color-5);
    color: var(--palette-color-2);
}

.quiz-answer-chosen:hover {
    filter: none;
    cursor: auto;
}

.loading {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PHOTOGRAMM */

.list-group-horizontal {
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.list-group-item {
    width: 500px;
    height: 500px;
    background-color: transparent;
    border: none;
    outline: 1px solid var(--palette-color-2);
    outline-offset: -4px;
    border-radius: 20px;
    overflow: hidden;
}

@media (max-width: 1128px) {
    .list-group-item {
        width: 350px;
        height: 350px;
    }

    .list-group-item .photodescr {
        font-size: 1.3rem;
    }
}

.list-group-horizontal>.list-group-item:first-child:not(:last-child) {
    border-radius: 20px;
}

.list-group-item img {
    padding: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.list-group-item .photodescr {
    background: var(--palette-color-2);
    color: var(--palette-color-5);
    position: absolute;
    margin: 18px;
    padding: 10px;
    bottom: -40%;
    left: 0;
    right: 0;
    z-index: 1;

    transition: all .4s ease-out;

    font-family: 'Cuprum', sans-serif;

}

.list-group-item .photodescr * {
    margin-top: 10px;
    text-shadow: 0 0 4px var(--palette-color-2);
}

.list-group-item .photodescr span {
    color: var(--palette-color-4);
    font-weight: 600;
}

.list-group-item:hover .photodescr {
    transition: all .4s ease-in;
    bottom: 0;
}

.list-group-item:hover {
    transform: scale(.95);
    background-color: var(--palette-color-2);
    transition: all .2s ease-in;
}

.gallery-filter {
    text-align: center;
}

.gallery-btns {
    text-align: center;
}

.gallery-btns>* {
    margin: 10px;
}